<style type="text/css">
    .center {
        text-align: center;
    }

    #icon {
        display:block; 
        margin:0 auto; 
        height: 80vw;
        width: 60vw;
        margin-bottom: 5vh;
        
    }

   
    }
</style>

<ion-view title="Dumsor" id="page1" class="">
    <ion-content padding="true" class="has-header" style="background-color:black">
        
        <div class="row">
            <div class="col">
                <img id="icon" src="img/logo.png" />
                <a id="login-facebook" class="button button-positive button-block icon ion-social-facebook" ng-click="login('facebook')">&nbsp;&nbsp;Login with Facebook</a>
                <a id="login-twitter" class="button button-calm button-block icon ion-social-twitter" ng-click="login('twitter')">&nbsp;&nbsp; Login with Twitter</a>
                <a id="login-google" class="button button-assertive button-block icon ion-social-google" ng-click="login('google')">&nbsp;&nbsp; Login with Google</a>

               


            </div>
        </div>

    </ion-content>
</ion-view>